<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .tabs {
            cursor: pointer;
            padding: 15px 25px;
            border: 1px solid black;
            border-radius: 3px;
            display: inline-block
        }
    </style>
</head>
<body>
<p class="tabs" data-tab="1"
   style="">1</p>
<p class="tabs" data-tab="2">2</p>
<p class="tabs" data-tab="3">3</p>

<div data-tab="1" class="tabs-content" style="margin-bottom: 2em">Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. A doloremque est, et quos voluptates voluptatum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
    doloremque est, et quos voluptates voluptatum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque
    est, et quos voluptates voluptatum!
</div>
<div data-tab="2" class="tabs-content" style="margin-bottom: 2em">tabs22222 tabs22222 tabs22222 tabs22222 tabs22222
    tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222
    tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222 tabs22222
    tabs22222 tabs22222
</div>
<div data-tab="3" class="tabs-content" style="margin-bottom: 2em">tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3
    tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3
    tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3
    tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3
    tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3 tabs3
</div>
<script>
    let tabs = document.querySelectorAll('p.tabs');
    let tabsContent = document.querySelectorAll('.tabs-content');

    console.log(tabsContent);
    tabsContent.forEach(function (e, x) {
        if (x > 0) {
            e.style.display = 'none';
        }
    });
    tabs.forEach(function (e) {
        let dataTabs = e.getAttribute('data-tab');

        e.addEventListener('click', function () {
            tabsContent.forEach(function (e) {
                e.style.display = 'none';
                if(e.getAttribute('data-tab') === dataTabs) e.style.display = 'block';
            });
        });
    });

        console.log(tabs[0])

</script>
</body>
</html>